example/examples/get-started/hello_world/build/*
examples/get-started/hello_world/build/*
examples/peripherals/i2c/i2c_tools/build/*
examples/peripherals/i2c/i2c_eeprom/build/*
examples/01_learn/os_test/build/*
ESP32-C6-LCD-1.47-Demo/ESP-IDF/ESP32-C6-LCD-1.47-Test/build/*
