example/examples/get-started/hello_world/build/*
examples/get-started/hello_world/build/*
examples/peripherals/i2c/i2c_tools/build/*
examples/peripherals/i2c/i2c_eeprom/build/*
examples/01_learn/os_test/build/*
examples/01_learn/probe_kit_test/build/*
ESP32-C6-LCD-1.47-Demo/ESP-IDF/ESP32-C6-LCD-1.47-Test/build/*
ESP32-S3-LCD-1.69_DemoCode/ESP-IDF-v5.3.1/01_ESP_IDF_ST7789/build/*
ESP32-S3-LCD-1.69_DemoCode/ESP-IDF-v5.3.1/01_ESP_IDF_ST7789/managed_components/*
ESP32-S3-LCD-1.69_DemoCode/ESP-IDF-v5.3.1/02_ESP_IDF_ST7789_LVGL/build/*
ESP32-S3-LCD-1.69_DemoCode/ESP-IDF-v5.3.1/02_ESP_IDF_ST7789_LVGL/managed_components/*
ESP32-S3-LCD-1.69_DemoCode/ESP-IDF-v5.3.1/03_PCF85063/build/*
ESP32-S3-LCD-1.69_DemoCode/ESP-IDF-v5.3.1/03_PCF85063/managed_components/*
ESP32-S3-LCD-1.69_DemoCode/ESP-IDF-v5.3.1/04_QMI8658/build/*
ESP32-S3-LCD-1.69_DemoCode/ESP-IDF-v5.3.1/04_QMI8658/managed_components/*
ESP32-S3-LCD-1.69_DemoCode/ESP-IDF-v5.3.1/01_ESP_IDF_ST7789/build/*
ESP32C3/ESP-IDF/hello_world/build/*
ESP32-WROOM-E32/helloworld/build/*
ESP32-WROOM-E32/ledc/build/*
ESP32-WROOM-E32/rtos/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/test-1/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/00_basic/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/00_demo/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/01_led/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/02_key/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/03_exit/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/04_uart/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/05_esp_timer/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/06-1_sw_pwm/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/06-2_hw_pwm/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/7_spilcd/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/8_rtc/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/9_internal_Temperature/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/10_rng/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/11_sd/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/12_spiffs/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/13_chinese_display/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/14_picture/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/15_usb_uart/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/16_usb_flash_u/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/idf-version/17_usb_sd_u/build/*

ESP32-S3M/4-sourcecode/v5.1.2example/extend-idf/01_WiFi_SCAN/build/*
ESP32-S3M/4-sourcecode/v5.1.2example/extend-idf/02_WiFi_STA/build/*

ESP32-WROOM-32E/hello/build/*
ESP32-WROOM-32E/bt_l2cap_server/build/*
Kconfig/build/*
